extends ../layout

block content
    .container
        form.form-horizontal.offset-md-3(role='form', method='POST', action='/login')
            .row
                .col-md-6.offset-md-2
                    h2 Login 
                    hr
            .row
                .col-md-1.field-label-responsive
                        label(for='name') Name
                .col-md-7
                        .form-group
                            .input-group.mb-2.mr-sm-2.mb-sm-0
                                .input-group-addon(style='width: 2.6rem;')
                                    i.fa.fa-user
                                input#name.form-control(type='text', name='username', autofocus='')
            .row
                .col-md-1.field-label-responsive
                        label(for='password') Password
                .col-md-7
                        .form-group.has-danger
                            .input-group.mb-2.mr-sm-2.mb-sm-0
                                .input-group-addon(style='width: 2.6rem;')
                                    i.fa.fa-key
                                input#password.form-control(type='password', name='password', placeholder='Password')
            .row
                .col-md-1
                .col-md-7(style="text-align: right;")
                        button.btn.btn-success(type='submit')
                            i.fa.fa-user-plus
                            |  Login