extends ../layout


block content
    .container
     form.form-horizontal(role='form', method='POST', action='/register')
          .row
               .col-md-3
               .col-md-6
                    h2 Register New User
                    hr
          .row
               .col-md-3.field-label-responsive
                    label(for='name') Name
               .col-md-6
                    .form-group
                         .input-group.mb-2.mr-sm-2.mb-sm-0
                              .input-group-addon(style='width: 2.6rem;')
                                   i.fa.fa-user
                              input#name.form-control(type='text', name='name', autofocus='')
                         if existName
                             span(style="color: #721c24;")= existName   
          .row
               .col-md-3.field-label-responsive
                    label(for='email') E-Mail Address
               .col-md-6
                    .form-group
                        .input-group.mb-2.mr-sm-2.mb-sm-0
                              .input-group-addon(style='width: 2.6rem;')
                                   i.fa.fa-at
                              input#email.form-control(type='text', name='email', placeholder='you@example.com', value="" autofocus='')
                        if existEmail
                            span(style="color: #721c24;")= existEmail      
          .row
               .col-md-3.field-label-responsive
                    label(for='password') Password
               .col-md-6
                    .form-group.has-danger
                         .input-group.mb-2.mr-sm-2.mb-sm-0
                              .input-group-addon(style='width: 2.6rem;')
                                   i.fa.fa-key
                              input#password.form-control(type='password', name='password', placeholder='Password')
          .row
               .col-md-3.field-label-responsive
                    label(for='password') Confirm Password
               .col-md-6
                    .form-group
                         .input-group.mb-2.mr-sm-2.mb-sm-0
                              .input-group-addon(style='width: 2.6rem;')
                                   i.fa.fa-repeat
                              input#password-confirm.form-control(type='password', name='password-confirmation', placeholder='Password')
          .row
               .col-md-3
               .col-md-6(style="text-align: right;")
                    button.btn.btn-success(type='submit')
                         i.fa.fa-user-plus
                         |  Register