html
  head
    title My Site - CRUD NodeJS&Express&MongoDB
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(href="/bower_components/material-design-icons-iconfont/dist/material-design-icons.css", rel="stylesheet")
    link(rel="stylesheet", href="/main.css")
    link(rel="stylesheet", href="/font-awesome/all.css")
  body
    include nav/nav.pug
    .container.col-md-6(style="margin-top:30px;padding:0;")
      != messages('message', locals)
      if errors 
        each error,i in errors
          div.alert.alert-danger #{error.msg}
    block content
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/deleteArticle.js")
    
