extends ../layout

block content
    div.container.add-form.mt-5
        h1= title
        form(action='/api/articles', method='POST')
            .form-group
            label(for='InputTitle') Title
            input#InputTitle.form-control(type='text', name='title', placeholder='Title..')
            .form-group
            label(for='InputBody') Body
            textarea#InputBody.form-control(name='body', placeholder="Your content.." rows='3')
            div.d-flex
                div.ml-auto
                    button.btn.btn-primary(type='submit', class="mt-4") Submit
        