extends ../layout

block content
    div.container.add-form.mt-5
        h1= title
        form(action='/api/articles/edit/'+ article._id, method='POST')
            .form-group
            label(for='InputTitle') Title
            input#InputTitle.form-control(type='text', name='title', value=article.title)
            .form-group
            label(for='InputBody') Body
            textarea#InputBody.form-control(name='body')=article.body
            div.d-flex
                div.ml-auto
                    button.btn.btn-primary(type='submit', class="mt-4") Submit