extends ../layout

block content
    .container.add-form.mt-5.p-4
        h1= title
        #list-example.list-group
            .row
                each article, i in articles
                    a.list-group-item.col-lg-12.list-group-item-action(href='/api/articles/' + article.id) 
                        b Title: 
                        | #{article.title} , 
                        b Author: 
                        | #{article.author}
        
            
