extends ../layout

block content
    .container
        .card.ml-auto.mr-auto.mt-5(style='width: 25rem; text-align: center;')
            h1 #{article.title}
            p Author : #{article.author}
            hr
            .card-body
                p.card-text #{article.body}
            if user
                if user.name == article.author
                    hr    
                    div.ml-auto 
                        a.btn.btn-primary.mr-2.mb-2(href='/api/articles/edit/' + article._id, style="width: 5rem;") Edit
                        a.btn.btn-danger.mr-2.mb-2.delete(style="width: 5rem;", data-id=article._id) Delete

