nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/') CMS
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/api/articles')
                    | Articles
                    span.sr-only (current)
            if user
                li.nav-item
                    a.nav-link(href='/api/articles/add') Add article
        ul.navbar-nav.ml-auto
            if user
                li.nav-item
                    a.nav-link(href='/logout') Logout
                li.nav-item
                    a.nav-link(href='/profile') #{user.name}
            else
                li.nav-item
                    a.nav-link(href='/register') Register
                li.nav-item
                    a.nav-link(href='/login') Login