body {
    background-color: #e6e6e6;
}

i:hover {
    cursor: pointer;
}

.list-group span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-form {
    background: #bfbfbf;
    border: 1px solid #999999;
}